tbody{background-color: #f7f7db;}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;  border: 5px solid #1B50BA;}
    .underline{font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size: 50px; color: #050A30; text-align: ;}/* graph vid heading */
ul{font-weight: bold;font-size: large;font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; color: #222E44;}/*  <!--for writing below thee graph and video heading--> */
.justify{font-size: large;font-family: Arial, Helvetica, sans-serif; font-weight: bold;}/* mission statement writing*/

.nav1{float: right; font-size: larger}
.mission{; background-color: #E08955 ;color: #222e44;}
.video{ display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;}
    
.tableauPlaceholder{ display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%; border: 5px solid #1B50BA;}

.quoteheader{font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size: 40px; color: #222E44; text-align: center;}
.Tlink{size: 10px;float: right;}
.AQ{font-weight: normal;font-size: large;font-family: cursive; color: #222E44;}
.footer{bottom: 5px; left: 5px; right: 5px; height: 25px;
    font-size: 12px;
    color: #1B50B;
    text-align: center;
    padding-top: 15px;
    position: fixed;}
    
